/* Styles pour la page de connexion */

.container {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
